!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "css/thumbnail-gallery.css", :rel => "stylesheet"}/
  %body.margin-body
    / Navigation
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        %a.navbar-brand{:href => "#"} Clever Jeans
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.active
              %a.nav-link{:href => "#"}
                Cart
                %span.sr-only (current)
            %li.nav-item
              %a.nav-link{:href => "#"} Wish List
            %li.nav-item
              %a.nav-link{:href => "#"} Login
    / Page Content
    .container
      %h1.my-4.text-center.text-lg-left Seasonal Discounts
      .row.text-center.text-lg-left
        - @products.each do |product|
          %div.col-lg-3.col-md-4.col-xs-6
            %div.item
              %a.d-block.mb-4.h-100{:href => "#"}
                %span.notify-badge #{product.random_price}€ (#{product.random_discount}%)
                %img.img-fluid.img-thumbnail{:alt => "", :src => image_url(product.image_name)}/
    / /.container
    / Footer
    %footer.py-5.bg-dark
      .container
        %p.m-0.text-center.text-white Copyright © Clever City 2017
      / /.container
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
